.main-tabPane {
    -fx-background-color: #557a56,
        linear-gradient(white, #313631),
        linear-gradient(#69727f 0%, #f4e5bc 20%, #364b36 80%, #364b36 100%),
        linear-gradient(#557a56, #557a56);
    -fx-border-width: 1;
    -fx-border-color: #ba693e;
    -fx-border-radius: 0;
    -fx-background-radius: 10;
}

.tab-header-background {
    -fx-background-color: #6a8c6f ;
}

.main-tabPane .tab {
    -fx-background-color: #84795b;
    
}
.tab .tab-label {
    -fx-text-fill: white;
    
}

 .main-tabPane .tab:selected  {
    -fx-background-color: #e5d4a7;
}

.tab:selected .tab-label {
    -fx-font-weight: bold;
    -fx-text-fill: black;
}


.main-tab {
    -fx-background-color: #557a56,
        linear-gradient(#919191, #919191),
        linear-gradient(#69727f 0%, #919191 20%, #919191 80%, #919191 100%),
        linear-gradient(#557a56, #557a56);
    -fx-border-width: 5;
    -fx-border-radius: 5;
}

.main-button {
    -fx-background-color: 
        #6a8c6f,
        rgba(0,0,0,0.05),
        linear-gradient(#69727f, #69727f),
        linear-gradient(#69727f 0%, #f4e5bc 20%, #e6c75d 80%, #cc0606 100%),
        linear-gradient(#6a8c6f, #6a8c6f);
    -fx-background-insets: 0 ,10 10 9 10,8,2,2;
    -fx-background-radius: 5;
    -fx-padding: 5 5 5 5;
    -fx-font-family: "Helvetica";
    -fx-font-weight: bold;
    -fx-font-size: 17px;
    -fx-text-fill: #f4f7f5;
    -fx-effect: innershadow( three-pass-box , rgba(1,1,1,1.3) , 0.5, 1 , 1 , 1);
}

.main-button:hover {
    -fx-background-color: #5d9960;
}

.main-button:pressed {
    -fx-background-color: white;
    -fx-text-fill: black;
}

.add-button {
    -fx-background-color: 
        #6a8c6f,
        rgba(0,0,0,0.05),
        linear-gradient(#69727f, #69727f),
        linear-gradient(#69727f 0%, #f4e5bc 20%, #e6c75d 80%, #cc0606 100%),
        linear-gradient(#6a8c6f, #6a8c6f);
    -fx-background-insets: 0 ,10 10 9 10,8,2,2;
    -fx-background-radius: 5;
    -fx-padding: 7 7 7 7;
    -fx-font-family: "Helvetica";
    -fx-font-weight: bold;
    -fx-font-size: 24px;
    -fx-text-fill: #f4f7f5;
    -fx-effect: innershadow( three-pass-box , rgba(1,1,1,1.3) , 0.5, 1 , 1 , 1);
}

.add-button:hover {
    -fx-background-color: #5d9960;
}

.add-button:pressed {
    -fx-background-color: white;
    -fx-text-fill: black;
}

.add-button:focused {
    -fx-background-color: white;
    -fx-text-fill: black;
}

.case-label {
    -fx-text-fill: white;
    -fx-font-size: 24 px;
}

.list-cell {
  -fx-font: 16pt "Arial";
}

.textfield-text {
  -fx-font: 16pt "Arial";
}